*{
    margin:0;
    padding:0;
}
#hero{
    height: 100vh;
    background: url(../images/pexels-teona-swift-6913373.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(126, 39, 160);
    display: grid;
    justify-content: center;
    align-items: center;
}
#hero .content{
    height: 200px;
    width: 400px;
    text-align: center;
}
#hero h4{
    font-size: 25px;
}
#hero h1{
    font-size: 80px;
}
#hero button{
    padding: 10px 40px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    
}
#hero button:hover{
    background: linear-gradient(to left,rgb(176, 114, 235),rgb(102, 78, 206));
}